/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

.wrap {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

h1, h2, a, span {
  font-family: 'agd', sans-serif;
}

h1 {
  font-size: 12em;
  color: #F9F9F9;
}

h2 {
  font-size: 3rem;
}

a {
  font-size: .8em;
  text-decoration: none;
}

span {
  color: #F9F9F9;
}

@font-face {
  font-family: 'agd';
  src: url("../../font/AGD.ttf") format("truetype");
  font-weight: 800;
}

footer {
  background-image: url("../../img/fondtrame.jpg");
  background-size: cover;
  max-height: 400px;
  padding: 0 0 20px 0;
}

footer a:not(.lang_links a) {
  color: white;
}

footer a:not(.lang_links a):hover {
  color: #38F4B0;
}

footer .wrap > div:nth-child(1) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

footer .wrap > div:nth-child(1) > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .wrap > div:nth-child(1) > div:nth-child(1) > a:not(:last-child) {
  margin-bottom: 20px;
}

footer .wrap > div:nth-child(1) > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrap > div:nth-child(1) > div:nth-child(2) > div:first-child {
  margin-bottom: 10px;
}

footer .lang_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrap > div:nth-child(2) {
  width: 100%;
}

footer .wrap > div:nth-child(2) span {
  margin-right: 50px;
}

.network_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.network_links a {
  background-color: #F9F9F9;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 25px;
}

.network_links svg {
  max-width: 20px;
  max-height: 20px;
  fill: #1B17E2;
}

.section {
  position: relative;
  height: 100vh;
  max-height: 100vh;
  padding: 5rem 8rem;
}

.section-background {
  position: absolute;
  top: 22%;
  width: 50%;
  height: 20%;
  margin-left: -8rem;
  background-color: #38F4B0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: -1;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-container .section-image {
  width: 40vw;
}

.section-container .section-image img {
  position: relative;
  width: 60%;
  margin-left: 8rem;
}

.section-container .section-image-hidden {
  position: absolute;
  bottom: 10rem;
  left: 21rem;
  z-index: -1;
}

.section-container .section-image-showned {
  position: absolute;
  bottom: 13rem;
  right: 15rem;
  z-index: -1;
}

.section-container .section-image-showned img {
  width: 70%;
}

.section-container .section-content {
  width: 35vw;
}

.section-container .section-content .section-title {
  margin-bottom: 1rem;
}

.section-container .section-content .section-description {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: medium;
  color: #A5A5A5;
}

.section-container .section-content .section-description > a {
  display: block;
  margin: 2rem 0;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: bold;
  color: #A5A5A5;
  text-decoration: underline;
}

.section-container .section-content .section-description p:last-of-type {
  margin-bottom: 2rem;
}

.button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 15px 40px;
  margin-top: 1rem;
  border-radius: 51px 51px 51px 51px;
  border: 0px solid #000000;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: medium;
}

.button-dark {
  background-color: #0B0B16;
  color: white !important;
}

.button a {
  text-decoration: none !important;
}

/*body {
    overflow: hidden;
}*/
header {
  height: 100vh;
  background-image: url("../img/fondtrame.jpg");
  background-size: cover;
}

header > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .wrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header span {
  margin: 0 0 30px 0;
  font-size: 2em;
}

.header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.intro_container {
  height: 100vh;
}

.intro_container > .wrap {
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.intro_container > .wrap > div {
  width: 50%;
}

.intro_container .phone_content img {
  max-width: 50%;
}

.intro_container .description_content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.intro_container .description_content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro_container .description_content > div a {
  background-color: #1B17E2;
  color: #F9F9F9;
}

.intro_container .description_content > a {
  color: #A5A5A5;
  font-family: 'Montserrat', sans-serif;
}

.aqua {
  background-color: aqua;
}

.darkred {
  background-color: darkred;
}

.chartreuse {
  background-color: chartreuse;
}

.darkorange {
  background-color: darkorange;
}
