/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* font: inherit; */
  vertical-align: baseline;
}

.wrap {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body {
  overflow-x: hidden;
}

h1, h2, a, span, h3, h4 {
  font-family: 'agd', sans-serif;
}

h1 {
  font-size: 12em;
  color: #F9F9F9;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
  color: #F9F9F9;
}

h4 {
  font-size: 1.5rem;
  color: #F9F9F9;
}

a {
  font-size: .8em;
  text-decoration: none;
}

span {
  color: #F9F9F9;
}

@font-face {
  font-family: 'agd';
  src: url("../../font/AGD.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: 'agw';
  src: url("../../font/AGW.ttf") format("truetype");
  font-weight: 300;
}

footer {
  background-image: url("../../img/fondtrame.jpg");
  background-size: cover;
  max-height: 400px;
  padding: 0 0 20px 0;
}

footer a:not(.lang_links a) {
  color: white;
}

footer a:not(.lang_links a):hover {
  color: #38F4B0;
}

footer .wrap > div:nth-child(1) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0;
}

footer .wrap > div:nth-child(1) > div:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .wrap > div:nth-child(1) > div:nth-child(1) > a:not(:last-child) {
  margin-bottom: 20px;
}

footer .wrap > div:nth-child(1) > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .wrap > div:nth-child(1) > div:nth-child(2) > div:first-child {
  margin-bottom: 10px;
}

footer .lang_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .wrap > div:nth-child(2) {
  width: 100%;
}

footer .wrap > div:nth-child(2) span {
  margin-right: 50px;
}

.network_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.network_links a {
  background-color: #F9F9F9;
  border-radius: 200px 200px 200px 200px;
  -moz-border-radius: 200px 200px 200px 200px;
  -webkit-border-radius: 200px 200px 200px 200px;
  border: 0px solid #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 25px;
}

.network_links svg {
  max-width: 20px;
  max-height: 20px;
  fill: #1B17E2;
}

.section {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  height: 100vh;
  max-height: 100vh;
  padding: 5rem 8rem;
}

.section-background {
  position: absolute;
  top: 22%;
  width: 50%;
  height: 20%;
  margin-left: -8rem;
  background-color: #38F4B0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  z-index: -1;
}

.section-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-container .section-image {
  width: 40vw;
}

.section-container .section-image img {
  position: relative;
  width: 60%;
  margin-left: 8rem;
}

.section-container .section-image-hidden {
  position: absolute;
  bottom: 3rem;
  left: 21rem;
  z-index: -1;
}

.section-container .section-image-showned {
  position: absolute;
  bottom: 3rem;
  right: 15rem;
  z-index: -1;
}

.section-container .section-image-showned img {
  width: 70%;
}

.section-container .section-content {
  width: 35vw;
}

.section-container .section-content .section-title {
  margin-bottom: 1rem;
}

.section-container .section-content .section-description {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 300;
  color: #A5A5A5;
}

.section-container .section-content .section-description > a {
  display: block;
  margin: 2rem 0;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: bold;
  color: #A5A5A5;
  text-decoration: underline;
}

.section-container .section-content .section-description p:last-of-type {
  margin-bottom: 2rem;
}

.section-container .section-banner {
  width: 100%;
}

.section-container .section-banner .section-title {
  margin-bottom: 1rem;
}

.section-container .section-banner .section-description {
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: medium;
  color: #A5A5A5;
  padding-right: 25rem;
}

.section-container .section-banner .section-description > a {
  display: block;
  margin: 2rem 0;
  font-family: 'Montserrat';
  font-size: 1rem;
  font-weight: bold;
  color: #A5A5A5;
  text-decoration: underline;
}

.section-container .section-banner .section-description p:last-of-type {
  margin-bottom: 2rem;
}

.section-container .section-artist {
  width: calc(100% + 16rem);
  margin-left: -8rem;
  margin-right: -8rem;
}

.section-container .section-artist .section-carousel {
  height: 100%;
  margin: 2rem 0;
}

.section-container .section-artist .section-carousel .section-cell {
  background-color: #38F4B0;
  border-radius: 1rem;
  padding: 2rem 5rem;
  width: 25vw;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 1rem;
  background-image: url(../../img/fondtrame.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section-container .section-artist .section-carousel .section-cell > * {
  text-align: center;
}

.section-container .section-artist .section-carousel .flickity-page-dots {
  bottom: -50px;
}

.section-short {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-short .section-background {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section-short .section-container .section-image img {
  position: relative;
  width: 60%;
  margin-left: 0;
}

.section-short .section-container .section-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 45vw;
}

.section-bg-primary {
  position: relative;
  background-color: #1B17E2;
  color: white;
  padding: 5rem 5rem;
  padding-top: 0rem;
}

.section-bg-primary .section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.section-bg-primary .section-content > div:first-of-type {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.section-bg-primary .section-content > div:first-of-type h2 {
  font-size: 5rem;
  margin-bottom: 0;
}

.section-bg-primary .section-content > div:first-of-type h2:nth-child(3) {
  font-size: 15rem;
  line-height: 12rem;
}

.section-bg-primary .section-content .button {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-top: 2rem;
}

.section-bg-primary .banner-background {
  position: absolute;
  height: 45vh;
  width: 105vw;
  background-color: #1B17E2;
  left: 0;
  top: -11rem;
  z-index: -1;
  -webkit-transform: rotateZ(-15deg);
          transform: rotateZ(-15deg);
}

.section-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-events {
  padding: 1rem 0;
  border-top: 1rem solid #38F4B0;
  padding-bottom: 12rem;
  -webkit-transform: rotate(345deg);
          transform: rotate(345deg);
  margin-left: -5rem;
  margin-right: -5rem;
}

.banner-events h2 {
  white-space: nowrap;
}

#section-event {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.button-container {
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.button-container .button {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f9f9f9;
  padding: 15px 40px;
  margin-top: 1rem;
  z-index: 20;
  border-radius: 51px 51px 51px 51px;
  border: 0px solid #000000;
  font-family: "Montserrat";
  font-size: 1rem;
  font-weight: bold;
}

.button-container .button-outlined {
  background-color: transparent;
  border: 1px solid;
}

.button-container .button-outlined-dark {
  border-color: #0B0B16;
  color: #0B0B16;
}

.button-container .button-outlined-light {
  border-color: white;
  color: white;
}

.button-container .button-dark {
  background-color: #0B0B16;
  color: white !important;
}

.button-container .button-light {
  background-color: white;
  color: #0B0B16 !important;
}

.button-container .button a {
  text-decoration: none !important;
}

.button-container .button-hover-image {
  position: absolute;
  bottom: -1.2rem;
  right: 0;
  width: 4rem;
  -webkit-transform: rotate(-10deg);
          transform: rotate(-10deg);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.button-container .button-hover-image img {
  width: 100%;
}

.button-container .button:hover {
  cursor: pointer;
}

.button-container .button:hover .button-hover-image {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.text-primary {
  color: #1B17E2;
}

.text-secondary {
  color: #38F4B0;
}

.text-medium {
  font-weight: medium;
}

.text-bold {
  font-weight: bold;
}

.badge {
  background-color: #38F4B0;
  padding: 1.2rem 3rem;
}

.badge-primary {
  background-color: #1B17E2;
  color: #0B0B16;
  font-size: 1rem;
}

.badge-secondary {
  background-color: #38F4B0;
  color: #0B0B16;
  font-size: 1.5rem;
}

.badge#header-badge {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 0;
  -webkit-transform: rotateZ(12deg);
          transform: rotateZ(12deg);
}

.loop-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  width: 112vw;
  overflow: hidden;
}

.loop-holder__text-left {
  -webkit-animation: textLoopLeft 10s linear infinite;
          animation: textLoopLeft 10s linear infinite;
  font-size: 3rem;
  padding-right: 0.35em;
}

.loop-holder-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  width: 112vw;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.loop-holder-right__text-right {
  -webkit-animation: textLoopRight 10s linear infinite;
          animation: textLoopRight 10s linear infinite;
  font-size: 3rem;
  padding-left: 0.35em;
}

@-webkit-keyframes textLoopLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@keyframes textLoopLeft {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }
}

@-webkit-keyframes textLoopRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
}

@keyframes textLoopRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(60%);
            transform: translateX(60%);
  }
}

/*body {
    overflow: hidden;
}*/
header {
  height: 100vh;
  background-image: url("../img/fondtrame.jpg");
  background-size: cover;
}

header span {
  margin: 0 0 30px 0;
  font-size: 2em;
}

header > .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header > .wrap > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: relative;
}

.header-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.header-title {
  z-index: 3;
}

.header-subtitle {
  text-align: center;
  font-family: "agd";
  font-size: 1.5rem;
}

.intro_container {
  height: 100vh;
}

.intro_container > .wrap {
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

.intro_container > .wrap > div {
  width: 50%;
}

.intro_container .phone_content img {
  max-width: 50%;
}

.intro_container .description_content p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.intro_container .description_content > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro_container .description_content > div a {
  background-color: #1B17E2;
  color: #F9F9F9;
}

.intro_container .description_content > a {
  color: #A5A5A5;
  font-family: 'Montserrat', sans-serif;
}

.aqua {
  background-color: aqua;
}

.darkred {
  background-color: darkred;
}

.chartreuse {
  background-color: chartreuse;
}

.darkorange {
  background-color: darkorange;
}
