.section {
    $this: '.section'; 

    box-sizing: border-box;
    position: relative;
    height: 100vh;
    max-height: 100vh;
    padding: 5rem 8rem;

    &-background{
        position: absolute;
        top: 22%;
        width: 50%;
        height: 20%;
        margin-left: -8rem;
        background-color: $secondary;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        z-index: -1;
    }

    &-container{
        display: flex;
        flex: 0 0 auto;
        justify-content: space-between;
        
        #{$this}-image{
            width: 40vw;

            img{
                position: relative;
                width: 60%;
                margin-left: 8rem;
            }

            &-hidden{
                position: absolute;
                bottom: 10rem;
                left: 21rem;
                z-index: -1;
            }

            &-showned{
                position: absolute;
                bottom: 3rem;
                right: 15rem;
                z-index: -1;

                img{
                    width: 70%;
                }
            }
        }

        #{$this}-content{
            width: 35vw;

            #{$this}-title{
                margin-bottom: 1rem;
            }
            #{$this}-description{
                font-size: 1.5rem;
                font-family: 'Montserrat';
                font-weight: 300;
                color: $content;

                & > a{
                    display: block;
                    margin: 2rem 0;
                    font-family: 'Montserrat';
                    font-size: 1rem;
                    font-weight: bold;
                    color: $content;
                    text-decoration: underline;
                }

                p{
                    &:last-of-type{
                        margin-bottom: 2rem;
                    }
                }
            }
        }
    }

    &-short{
        position: relative;
        display: flex;
        align-items: center;

        #{$this}-background{
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        #{$this}-container{
            #{$this}-image{
                img{
                    position: relative;
                    width: 60%;
                    margin-left: 0;
                }
            }

            #{$this}-content{
                align-self: center;
                width: 45vw;
            }
        }
    }

    &-bg-primary{
        position: relative;
        background-color: $primary;
        color: white;
        padding: 5rem 5rem;
        padding-top: 0rem;

        #{$this}-content{
            display: flex;
            align-items: center;
            flex-direction: column;
            width: 100%;

            & > div:first-of-type {
                align-self: flex-start;

                h2{
                    font-size: 5rem;
                    margin-bottom: 0;
                }
                
                h2:nth-child(3) {
                    font-size: 15rem;
                    line-height: 12rem;
                }
            }

            .button{
                justify-self: center;
                margin-top: 2rem;
            }
        }

        .banner-background{
            position: absolute;
            height: 45vh;
            width: 105vw;
            background-color: $primary;
            left: 0;
            top: -11rem;
            z-index: -1;
            transform: rotateZ(-15deg);
        }
    }
}

.banner{
    position: relative;
    overflow: hidden;

    &-events{
        padding: 1rem 0;
        border-top: 1rem solid $secondary;
        padding-bottom: 12rem;
        transform: rotate(345deg);
        margin-left: -5rem;
        margin-right: -5rem;

        h2{
            white-space: nowrap;
        }
    }
}